<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
    {% if route%}
    <h1>{{route["name"]}}</h1>
    {% endif %}
    <table border="1" width="100%">
        {% for row in board %}
        <tr>
            {% for board_hold in row %} {%if board_hold in positions %}
            <td class="{{hold_types[positions.index(board_hold)]}}">
                {{board_hold}}
            </td>
            {% else %}
            <td>{{board_hold}}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
